# ===========================
# 1. Python & Sistema
# ===========================
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
.DS_Store

# ===========================
# 2. Entornos Virtuales
# ===========================
venv/
env/
.env

# ===========================
# 3. Compilación (PyInstaller)
# ===========================
build/
dist/
# Opcional: Si quieres ignorar los .spec descomenta las siguientes líneas. 
# (Yo recomiendo dejarlos para que otros sepan cómo compilar tu .exe)
# *.spec

# ===========================
# 4. Datos y Logs (Runtime)
# ===========================
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# Logs
*.log
server_logs.txt

# ===========================
# 5. Reportes Generados
# ===========================
*.csv
reporte_seguridad_*.csv

# ===========================
# 6. Configuración y Secretos
# ===========================
# config.yaml (Tiene tu hash y rutas privadas -> IGNORAR)
config.yaml
config_copy.yaml
server/c2_server.db
certs/
*.pem
*.key
# config.example.yaml (Plantilla vacía -> SÍ SUBIR)

# ===========================
# 7. Scripts de Hacking/Test (NO SUBIR)
# ===========================
test_folder/prueba.txt
test_folder/prueba2.txt
attack_sim.py
red_team.py
prueba_ransomware.py
genPass.py
# Script temporal si lo creaste
tests/temp/

# ===========================
# 8. IDEs y Sistema Operativo
# ===========================
.vscode/
.idea/
Thumbs.db
Desktop.ini